html{
    font-family: "Helvetica Neue";
    overflow: hidden;
}

nav {
    position: fixed;
    list-style-type: none;
    background-color: #f0f0f0;
    border: 3px solid black; /*#e6e6e6*/
    width: 30vh;
    height: 83vh;
    border-radius: 25px;
    transform: translate(10%,10%);
}

nav li.nav_btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #717171;
    border-radius: 14px;
    height: 6vh;
    width: auto;
    margin: 10% 10%;
    
}

nav div.links{
    background-color: white;
    border-radius: 20px; 
    padding: 1vh 0vh 10vh;
}

nav  li a {
    text-decoration: none;  
    color: inherit;        
    font-weight: 500; 
    font-size: 1.5vh;  
}

nav div.date{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 8% 10%;
    height: 12vh;
}

nav ol{
  list-style-type:none;
  display: flex;
  flex-direction: row;
}

nav ol li.date_num{
  font-size: 160px;
  font-weight: 600;
  margin-left: -25px;
  
}

nav ol li.date_day{
  font-size: 45px;
  font-weight: 600;
  margin-top: 110px;
}

.nav_ai_btn_link {
  text-decoration: none;
  background-color: aqua;
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  height: 15vh;
}

div.nav_ai_btn{
  background-color: white;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;    
  align-items: center;    
  border: 3px solid #717171;
  border-radius: 14px;
  height: 12vh;
  width: 26vh;
}

div.nav_ai_logo{
  color: inherit;
  font-size: 4em;
}

div.nav_ai_txt {
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.2vh;  
}
  
